* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/background-app.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.box-container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

#city {
    background-color: #467B9B;
}

#temp {
    background-color: #D0D5D9;
}

#humidity {
    background-color: #012E40;
}

#wind {
    background-color: #025E73;
}